/* globalne */
.bg-color-darker {
  background-color: #f0f0f0;
}

section .indexUnder {
  transform: scale(1.1);
}

section .indexUpper {
  transform: scale(1.1);
}

/* sala szkoleniowa */
section #zoom {
  overflow: hidden;
  cursor: pointer;
}

section #zoom {
  transition: all 0.5s ease;
}

section #zoom:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

section #zoom #divText {
  visibility: hidden;
}

section #zoom:hover #divText {
  visibility: visible;
  font-size: 20px;
  background-color: #2f2f2fb2;
}

/* wynajem pomieszczeń */

#wynajem .bigger {
  cursor: pointer;
  transition: all 0.5s ease;
}

#wynajem .bigger:hover {
  transform: scale(1.2);
}

/* najemcy */
#najemcy .bigger {
  transition: all 0.5s ease;
}
#najemcy .bigger:hover {
  transform: scale(1.2);
  z-index: 1;
}

/* o nas */
#oNas .bigger {
  z-index: 1;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
#oNas .bigger:hover {
  transform: scale(1.2);
}
